footer {
  background: #f5f7f9;
  padding: 30px 50px 0;
  margin-bottom: 30px;
}

#footer__top {
  display: grid;
  grid-template-columns: 4fr 4fr 2fr;
  padding-bottom: 40px;
}

.footer__heading {
  color: #0f213f;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}

.footer__links {
  display: flex;
}
.footer__links-column {
  width: 175px;
}

.footer__links-column li a {
  margin-bottom: 10px;
  font-size: 12px;
  color: #0f213f;
}
.footer__links-column li a:hover {
  text-decoration: underline;
}

.footer__text {
  font-size: 12px;
  font-weight: 500;
  color: #0f213f;
  text-transform: uppercase;
  line-height: 22px;
  margin-bottom: 5px;
}

.footer__contact-links a {
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  color: #0f213f;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 0;
}

.footer__contact-links a strong {
  width: 52px;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
  margin-top: 40px;
}
.footer__socials a {
  transform: rotate(90deg);
  width: 24px;
}
.footer__socials a img {
  width: 24px;
  height: 24px;
}
#footer__bottom {
  border-top: 1px solid #ccd1d9;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.footer__bottom-links a {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: #0f213f;
  text-transform: uppercase;
}
.footer__bottom-links a:not(:last-of-type) {
  border-right: 1px solid #ccd1d9;
  padding-right: 9px;
  margin-right: 9px;
}

@media screen and (max-width: 991px) {
  #footer__top {
    display: block;
  }
  .footer__top-row {
    margin-bottom: 2rem;
    text-align: center;
  }
  .footer__links {
    justify-content: center;
  }
  .footer__contact-links a {
    max-width: 450px;
    margin: 0 auto;
    text-align: left;
  }
  .footer__socials {
    margin: 3rem 0 0 0;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  #footer__bottom {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 479px) {
  footer {
    padding: 30px 25px 0;
  }
}
