.app__navbar {
  position: relative;
  padding: 1.5rem 0;
  z-index: 100;
}

.app__terms .app__navbar,
.lates__news .app__navbar {
  background: #f5f7f9;
}

.app__navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app__navbar-logo img {
  width: 170px;
}
.app__navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.app__navbar-links li {
  font-size: 12px;
  font-weight: 500;
  color: #0f213f;
  text-transform: capitalize;
  position: relative;
  cursor: pointer;
  line-height: 18px;
}
.app__navbar-links li:hover {
  color: #2b52aa;
}
.app__navbar-links li:hover .menu__sub {
  opacity: 1;
  pointer-events: all;
}
.menu__sub {
  display: flex;
  max-width: 50vw;
  position: absolute;
  top: 100%;
  margin-right: 2rem;
  padding: 3rem 0;
  opacity: 0;
  transition: 0.2s ease-in-out;
  pointer-events: none;
}
.menu__sub .menu__column:first-of-type {
  margin-right: 2rem;
}
.menu__column-title {
  font-weight: 600 !important;
  margin-bottom: 8px;
}
.menu__column li:hover {
  text-decoration: underline;
}
/* .menu__column li:hover:after {
  width: 100%;
}
.menu__column li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #0f213f;
  transition: all 0.4s;
} */
.menu__sub ul {
  width: 185px;
}

.app__navbar-bottom_menu {
  position: absolute;
  bottom: -200px;
  left: 2rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.app__navbar-bottom_menu li a {
  color: #2b52aa;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  text-transform: none;
}
.app__navbar-links:hover .app__navbar-bottom_menu {
  opacity: 1;
  pointer-events: all;
}
.app__navbar-smallscreen {
  display: none;
}
.next__level-arrow {
  position: absolute;
  top: 4px;
  right: 0;
  color: #9fabb7;
  height: 30px;
  width: 30px;
}
.app__navbar-menuicon {
  width: 30px;
  height: 30px;
  color: #0f213f;
  cursor: pointer;
}
.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 5;
  transition: 0.5s ease;
}
.app__navbar-smallscreen_overlay .ovarlay__close {
  position: absolute;
  right: 2rem;
  width: 30px;
  height: 30px;
  color: #0f213f;
  top: 1.5rem;
  cursor: pointer;
}

.app__navbar-smallscreen-links {
  list-style: none;
  margin-top: 5rem;
  overflow: hidden;
}
.app__navbar-smallscreen-links > li {
  color: #0f213f;
  margin: 1rem 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: left;
  position: relative;
  text-transform: capitalize;
}
.app__navbar-mobile-login {
  display: none;
}

@media screen and (max-width: 1200px) {
  .app__navbar-links {
    gap: 32px;
  }
}
@media screen and (min-width: 992px) {
  .app__navbar-links:before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 285px;
    background-color: #fff;
    content: "";
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 0;
    visibility: hidden;
  }
  .app__navbar-links:hover:before {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 991px) {
  .app__navbar-links {
    display: none;
  }
  .app__navbar-smallscreen {
    display: flex;
  }
  .menu__sub {
    position: fixed;
    z-index: 20;
    max-width: 100%;
    width: 80vw;
    height: 100vh;
    top: 0;
    right: 0;
    padding: 20px;
    margin: 0;
    opacity: 1;
    transform: translateX(100%);
    transition: all 0.3s;
    display: block;
    background: #f5f7f9;
    overflow: scroll;
  }
  .menu__sub-link {
    font-size: 1.3rem;
    white-space: normal;
    margin-bottom: 21px;
  }
  .menu__prev-link {
    color: #0f213f;
    font-size: 1.6rem;
    font-weight: 700;
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 1.8rem;
    padding-right: 35px;
  }
  .menu__sub.active {
    transform: translateX(0);
    pointer-events: all;
  }
  .menu__sub .menu__column:first-of-type {
    margin: 0;
  }
  .menu__sub ul {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .next__level-arrow {
    width: 30px;
    height: 30px;
  }

  .menu__sub-link {
    font-size: 1.3rem;
    margin-bottom: 14px;
  }
  .app__navbar-logo img {
    width: 190px;
  }
  .app__navbar-mobile-login {
    display: flex;
    flex-direction: column;
    color: var(--color-grey);
  }
  .app__navbar-mobile-login a {
    margin: 1rem;
  }
}
